body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.banner-area{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 70vh;
    padding: 7%;
    color: white;
}
.banner-area h1{
    font-size: 70px;
    font-weight: bold;
}
.banner-area p{
    font-size: 18px;
    font-weight: 600;
}
.donate-btn{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(orange, red);
    color: white;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
}