body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.banner-area{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 70vh;
    padding: 7%;
    color: white;
}
.banner-area h1{
    font-size: 70px;
    font-weight: bold;
}
.banner-area p{
    font-size: 18px;
    font-weight: 600;
}
.donate-btn{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(orange, red);
    color: white;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
}
.donate{
    margin-top: 130px;
}
.donate-area{
    text-align: center;
}
.donate-amount{
    display: flex;
    justify-content:  space-between;
    padding-left: 400px;
    padding-right: 400px;
    margin-top: 70px;
}
.amount{
    background-color: rgba(128, 128, 128, 0.133);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
}
input {
    border: 0;
    outline: 0;
    width: 50%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.177);
    text-align: center;
    font-size: 20px;
}
.donate-area-btn{
    margin-top: 45px;
}
.input-amount{
    text-align: center;
    margin-top: 30px;
}
.donate-area h1{
    font-size: 50px;
}
.orange-text{
    background-color: rgba(255, 166, 0, 0.263);
    color: orangered;
    font-weight: 700;
    box-shadow: 2px 2px 1px red;
}
.donate-area p{
    font-size: 20px;
}
.donate-plan{
    margin-top: 130px;
}
.donate-plan-text{
    text-align: center;
}
.donate-plan-text h1{
    font-size: 50px;
}
.donate-plan-text p{
    font-size: 20px;
}
.donate-plan-idea{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 45px;
}
.donate-idea{
    margin-left: 2%;
    margin-right: 2%;
}
.family{
    background-color: rgba(21, 107, 133, 0.201);
    padding: 25px 30px;
    border-radius: 5px;
}
.shelter{
    background-color: rgba(255, 192, 203, 0.579);
    padding: 25px 20px;
    border-radius: 5px;
}
.education{
    background-color: rgba(255, 254, 192, 0.633);
    padding: 25px 20px;
    border-radius: 5px;
}
.family img{
    margin-top: 70px;
}
.shelter img{
    margin-top: 70px;
}
.education img{
    margin-top: 70px;
}
.our-gallery{
    margin-top: 130px;
    text-align: center;
}
.our-gallery h1{
    font-size: 50px;
}
.our-gallery p{
    font-size: 20px;
}
.gallery{
    display: flex;
    padding-left: 150px;
    width: 80%;
}
.gallery-img {
    margin: 5px;
  }

.updates{
    margin-top: 130px;
}
.updates-text{
    text-align: center;
}
.updates-text h1{
    font-size: 50px;
}
.updates-text p{
    font-size: 20px;
}
.updates-box{
    background-color: rgba(255, 213, 0, 0.23);
    margin-left: 25%;
    margin-right: 25%;
    padding: 80px;
}
.updates-input{
    display: flex;
    padding-left: 100px;
}
.for-updates{
    text-align: left;
    border-radius: 5px 0 0 5px;
    height: 45px;
    background-color: rgba(128, 128, 128, 0.263);
}
button{
    background-color: red;
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 0 5px 5px 0;
}
footer{
    margin-top: 130px;
    background-color: black;
    padding: 30px 30px;
    color: white;
    text-align: center;
}
footer h1{
    color: orangered;
}
